{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
</head>

<body class="auth-page">

<div class="box">
    <h2>Login</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>

    <p>New user? <a href="{% url 'app:signup' %}">Signup</a></p>
    {% if messages %}
    {% for message in messages %}
        <p style="color:red; font-size:13px; margin-top:8px;">
            {{ message }}
        </p>
    {% endfor %}
{% endif %}
</div>

</body>
</html>