{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
</head>

<body class="auth-page">

<div class="box">
    <h2>Login</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" name="login">Login</button>
    </form>
    <p style="margin-top:10px;">New user?<a href="{% url 'app:signup' %}">Signup</a></p>

    <p>
        <a href="#" onclick="document.getElementById('fp').style.display=
        document.getElementById('fp').style.display==='block'?'none':'block'">
        Forgot Password?</a>
    </p>

<div id="fp" style="display:none;">
    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter email">
        <button type="submit" name="reset">Continue</button>
    </form>
</div>

{% if request.session.reset_user %}
<form method="POST">
    {% csrf_token %}
    <input type="password" name="new_password" placeholder="New Password">
    <button type="submit" name="update_password">Update Password</button>
</form>
{% endif %}

    {% if messages %}
        {% for message in messages %}
            <p style="color:red; font-size:13px; margin-top:8px;">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}

</div>

</body>
</html>